.container-countries {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media screen and (max-width: 1024px) {
  .container-countries {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 850px) {
  .container-countries {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 590px) {
  .container-countries {
    grid-template-columns: 1fr;
  }
}

.card {
  height: 40vh;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.199);
  width: 225px;
  height: 300px;
  margin: 0 auto;
  color: var(--text);
  font-size: 14px;
}
.card-flags {
  height: 50%;
  cursor: pointer;
}

.card-content {
  height: 50%;
  padding: 10%;
  background-color: var(--background-header-input);
}
.card-content h3 {
  margin-bottom: 15px;
  font-weight: 800;
}
.card-content p {
  font-weight: 800;
}
.card-content span {
  font-weight: 300;
}

.loading {
  height: 150px;
  width: 150px;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 3px 4px 1px red;
  animation: loading infinite linear;
  animation-duration: 1s;
}
@keyframes loading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
