* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  font-family: "Nunito Sans", sans-serif;
}

.light {
  --background-header-input: hsl(0, 0%, 100%);
  --text: hsl(200, 15%, 8%);
  --background-flags: hsl(0, 0%, 98%);
}

.dark {
  --background-header-input: hsl(209, 23%, 22%);
  --text: hsl(0, 0%, 98%);
  --background-flags: hsl(207, 26%, 17%);
}

.header {
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  color: var(--text);
  background-color: var(--background-header-input);
  font-weight: 600;
}
.header span {
  margin-top: auto;
  margin-bottom: auto;
}

main {
  padding: 20px 10%;
  background-color: var(--background-flags);
  box-shadow: rgba(0, 0, 0, 0.274) 0 -1px 2px;
}

.fas,
.far {
  margin-right: 10px;
}

.toggle {
  cursor: pointer;
}

.colores {
  color: hsl(209, 23%, 22%);
  color: hsl(207, 26%, 17%);
  color: hsl(200, 15%, 8%);
  color: hsl(0, 0%, 52%);
  color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 100%);
}

@media screen and (max-width: 530px) {
  h1 {
    font-size: 1rem;
  }
  .header span {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 350px) {
  .App {
    min-width: 350px;
  }
}
